 		<div class="page-bar" xmlns:th="http://www.thymeleaf.org">
			<ul class="page-num-ul clearfix">
				<li th:text="${'共' + totalCount + '条记录&nbsp;&nbsp;' + currentPageNo + '/' + totalPageCount + '页'}"></li>
				<li>
				<th:block th:if="${currentPageNo > 1}">
					<a href="javascript:page_nav(document.forms[0],1);">首页</a>
					<a th:href="${'javascript:page_nav(document.forms[0],' + (currentPageNo-1) + ')'}">上一页</a>
				</th:block>
				<th:block th:if="${currentPageNo < totalPageCount }">
					<a th:href="${'javascript:page_nav(document.forms[0], ' + (currentPageNo+1) + ')'}">下一页</a>
					<a th:href="${'javascript:page_nav(document.forms[0], ' + totalPageCount + ')'}">最后一页</a>
				</th:block>
				&nbsp;&nbsp;
				</li>
			</ul>
		 <span class="page-go-form"><label>跳转至</label>
	     <input type="text" name="inputPage" id="inputPage" class="page-key"/>页
	     <button type="button" class="page-btn" onClick="jump_to(document.forms[0], document.getElementById('inputPage').value)">GO</button>
		</span>
		</div> 
		<script type="text/javascript" th:src="${#httpServletRequest.getContextPath() + '/statics/js/rollpage.js'}"></script>